<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Current Application</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Item
                </th>
                <th>
                  Details
                </th>
              </thead>
              <tbody>
                <tr>
                    <td>Name</td>
                  <td>{{ data.name }} {{ data.surname }}</td>
                </tr>
                <tr>
                    <td>Personal Details</td>
                    <td>Nationality: {{data.nationality}} | {{data.passportNumber}} | Issued on: {{data.passportIssueDate}} | Expiring on: {{data.passportExpiryDate}}</td>
                </tr>
                  <tr>
                    <td>Institution</td>
                    <td>{{data.institution}} | {{data.course}} | Year: {{data.studyYear}} | Duration: {{data.duration}} </td>
                  </tr>
                  <tr>
                    <td>Application Status</td>
                    <td>Status: {{ data.status }} | Approved: {{ data.approved }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
        <div class="col-md-4">
        <h4 class="card-title">Applicant History</h4>
      </div>
      <div class="col-md-4">
        <div class="loading-circle text-center" *ngIf="isLoading">
          <img src="../../../assets/img/Spinner-2.gif" />
        </div>
      </div>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Full Name
                </th>
                <th>
                  Passport Number
                </th>
                <th>
                  Institution
                </th>
                <th>
                   Date Applied
                </th>
                <th>
                   Approved
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of applicantHistory">
                  <ng-container>
                    <td>{{ item.name }} {{ item.surname }}</td>
                    <td>{{ item.passportNumber }}</td>
                    <td>{{ item.institution }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>{{ item.approved }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Search Institution</h6>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search by Passport No."  [(ngModel)]="passportNumber">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="update ml-auto mr-auto">
                  <button class="btn btn-primary btn-round" (click)="searchInstitution()">Search</button>
              </div>
            </div>
            </div >
          </form>
          <div class="card-header">
            <h4 class="card-title">Applicant Institution Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Full Name
                  </th>
                  <th>
                    Passport Number
                  </th>
                  <th>
                    Institution
                  </th>
                  <th>
                     Study Year
                  </th>
                  <th>
                     Course
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of applications">
                    <ng-container>
                      <td>{{ item.name }} {{ item.surname }}</td>
                      <td>{{ item.passportNumber }}</td>
                      <td>{{ item.institution }}</td>
                      <td>{{ item.createdAt }}</td>
                      <td>{{ item.course }}</td>
                    </ng-container>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>

<div class="row">
    <div class="col-md-4 pr-1">
        <div class="update ml-auto mr-auto">
            <button class="btn btn-primary btn-round" (click)="approveApplication()">Approve</button>
        </div>
    </div>
    <div class="col-md-4 pl-1">
        <div class="update ml-auto mr-auto">
            <button class="btn btn-primary btn-round" (click)="rejectApplication()">Reject</button>
        </div>
    </div>
</div>


     


