<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Search Applicant</h6>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                  <input type="search" class="form-control" placeholder="Search by Passport No."  [(ngModel)]="passportNumber">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="update ml-auto mr-auto">
                <button class="btn btn-primary btn-round" (click)="searchInstitution()">Search</button>
            </div>
          </div>
          </div >
        </form>
        <div class="card-header">
          <h4 class="card-title">Applicant Details</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Full Name
                </th>
                <th>
                  Passport Number
                </th>
                <th>
                  Institution
                </th>
                <th>
                   Study Year
                </th>
                <th>
                   Approved
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of applications">
                  <ng-container *ngIf="item.approved === 'Yes'">
                    <td>{{ item.name }} {{ item.surname }}</td>
                    <td>{{ item.passportNumber }}</td>
                    <td>{{ item.institution }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>{{ item.approved }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>